<div class="logout-button">
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
</div>

<div class="title">
  <div>List of devices in the backend and their latest data (updated every {{deviceTableUpdateInterval}} seconds):</div>
</div>

<div class="device-table">
  <table mat-table [dataSource]="deviceTable" class="mat-elevation-z1">
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="velocity">
      <th mat-header-cell *matHeaderCellDef> Velocity </th>
      <td mat-cell *matCellDef="let element"> {{element.velocity}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="deviceChartDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: deviceChartDisplayedColumns;"></tr>
  </table>
</div>

<br><br>

<div class="title">
  <div>Summed timeseries of all devices with 60 seconds resolution: (updated every {{deviceChartUpdateInterval}} seconds):</div>
</div>

<div class="chart">
  <canvas id="canvas">{{deviceChartJS}}</canvas>
</div>